/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Col 1 
#define Sym 2
#define Nav 3
#define SSy 4
#define Num 5
#define Fun 6

/ {
    behaviors {
        hm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;    // <---[[moderate duration]]
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
    keymap {
                compatible = "zmk,keymap";

                default_layer { // layer 0
                        bindings = <
        &kp TAB       &kp Q    &lt Num W   &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O      &kp P     &kp LG(N1)
        &lt Nav ESC   &kp A    &hm LALT S  &hm LSHFT D &hm LCTRL F &lt 3 G     &kp H       &hm LCTRL J &hm LSHFT K &hm LALT L &kp SQT   &kp LG(N2)
        &kp LC(SPACE) &kp Z    &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA   &kp DOT    &kp MINUS &tog Col
                      &lt Fun SPACE   &hm LSHFT BSPC   &kp SPACE    &lt Sym RET     &lt Num SPACE    &kp LGUI
        >;
        };
                col_layer {// layer 1
                        bindings = <
        &trans     &kp Q   &kp W   &kp F   &kp P   &kp B   &kp J   &kp L   &kp U   &kp Y   &kp SQT &trans
        &trans     &kp A   &hm LALT R   &hm LSHFT S   &hm LCTRL T   &kp G   &kp M   &hm LCTRL N    &hm LSHFT E  &hm LALT I   &kp O   &trans
        &trans     &kp Z   &kp X   &kp C   &kp D   &kp V   &kp K   &kp H   &trans  &trans  &trans  &trans
                   &trans     &trans     &trans     &trans     &trans     &trans
        >;
        };

                symbol_layer { // layer 2
                        bindings = <
        &trans     &kp EXCL   &kp AT     &kp HASH   &kp DOLLAR &kp PRCNT  &kp AMPS   &kp LBRC   &kp LPAR   &kp RPAR   &kp RBRC   &trans
        &kp CAPS      &kp EQUAL  &kp PLUS   &kp STAR   &kp CARET  &trans     &kp TILDE  &kp SLASH  &kp BSLH   &kp QMARK  &kp GRAVE  &trans
        &trans     &trans     &trans     &trans     &trans     &trans     &trans     &kp UNDER  &trans     &trans     &trans     &trans
                   &trans     &kp DEL     &trans     &trans     &trans  &trans  
        >;
        };

                nav_layer {// layer 3
                        bindings = <
        &trans     &trans     &trans     &kp LC(RIGHT) &trans  &trans     &trans     &trans     &trans     &trans     &kp UP     &trans
        &trans     &trans     &trans     &kp LSHFT  &kp LCTRL  &trans     &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &trans     &trans
        &trans     &trans     &trans     &trans     &trans     &kp LC(LEFT) &kp DOWN &trans     &trans     &trans     &trans     &trans
                   &trans     &trans     &kp PSCRN     &kp PSCRN     &trans     &trans
        >;
        };

                sec_sym_layer {// layer 4
                        bindings = <
        &trans     &trans     &trans     &trans     &trans     &trans     &trans     &kp LT     &kp LBKT   &kp RBKT   &kp GT     &trans
        &trans     &trans     &trans     &trans     &trans     &trans     &trans     &kp PIPE   &kp SEMI   &kp COLON  &trans     &trans
        &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans
                   &trans     &trans     &trans     &trans     &trans     &trans
        >;
        };

                num_layer {// layer 5
                        bindings = <
        &trans     &trans     &trans     &trans     &trans     &trans     &trans     &kp N7    &kp N8   &kp N9     &trans     &trans
        &trans     &trans     &trans     &trans     &trans     &trans     &trans     &kp N1    &kp N2   &kp N3     &trans     &trans
        &trans     &trans     &trans     &trans     &trans     &trans     &trans     &kp N4    &kp N5   &kp N6     &trans     &trans
                   &trans     &trans     &kp 0       &kp 0       &trans     &trans
        >;
        };
                fun_layer {// layer 6
                        bindings = <
        &trans     &trans     &trans     &trans     &trans     &trans     &trans     &kp F7    &kp F8   &kp F9     &kp F10   &trans
        &trans     &trans     &trans     &trans     &trans     &trans     &trans     &kp F1    &kp F2   &kp F3     &kp F11   &trans
        &trans     &trans     &trans     &trans     &trans     &trans     &trans     &kp F4    &kp F5   &kp F6     &kp F12   &trans
                   &trans     &trans     &trans     &trans     &trans     &trans
        >;
        };
    };
};
